<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TinyClone | Registro</title>
  
  <!-- BOOTSTRAP CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
  <%- include('partials/_header'); %>
  
  <div class="container m-5">
    <h1 class="display-4 text-center">Bienvenido a TinyClone! 👋</h1>
    
    <form action="/api/v1/auth/register" method="POST" class="container mt-4" style="max-width:500px">
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Correo</label>
        <input name="email" type="email" class="form-control" id="inputEmail" placeholder="tucorreo@tudominio.com" autocomplete="off">
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Passw0rd123!" autocomplete="new-password">
      </div>
      <div class="mb-3">
        <label for="inputConfirmPassword" class="form-label">Confirma tu password</label>
        <input name="confirmPassword" type="password" class="form-control" id="inputConfirmPassword" placeholder="Passw0rd123!" autocomplete="off">
      </div>
      <button type="submit" class="btn btn-primary w-100 p-2">Registrarme</button>
    </form>
  </div>
  


  
  <!-- BOOTSTRAP BUNDLE JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
